body, h1, h2, p, ul, li, a, span {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    list-style: none;
    color: #515151;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    max-width: 1196px;
    margin: 0 auto;
    padding: 0px 15px;
}

/* MENU */
.menu {
    padding: 80px 0px 200px 0px;
}

.menu ul {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    letter-spacing: 1.7px;
}

.menu-li {
    display: flex;
}

.menu-li li + li {
    margin-left: 20px;
}

/* INTRO */
.intro {
    max-width: 1000px;
    margin: 0 auto 43px auto;
}

.intro h1 {
    font-size: 55px;
    font-weight: 300;
    line-height: 83px;
    text-align: center;
}

/* SEPARADOR */
.separador {
    display: block;
    height: 50px;
    width: 2px;
    background-color: #515151;
    margin: 0 auto;
}

/* CONTAINER TRABALHOS */
.container-trabalho h2 {
    margin: 43px 0px 80px 0px;
    text-align: center;
    letter-spacing: 1.7px;
    font-weight: normal;
    font-size: 30px;
}

.container-img-first {
    display: flex;
    flex-wrap: wrap;
}

/* FOOTER */
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 80px 0px 30px 0px;
}

.footer h2 {
    margin-bottom: 30px;
    font-weight: normal;
    font-size: 30px;
}

.sobre-mim {
    max-width: 810px;
}

.sobre-mim p {
    line-height: 26px;
    font-size: 16px;
}

.sobre-mim p + p {
    margin: 30px 0px;
}

.contato p {
    line-height: 26px;
    font-size: 16px;
}

.contato-icones {
    display: flex;
<<<<<<< HEAD
=======
    justify-content: center;
    margin: 60px 0px;
>>>>>>> d1dea4ac8e028f4a7608d49acb1b72b713a9abac
}

.contato-icones img + img {
    margin-left: 20px;
}

.copyright {
    margin-bottom: 80px;
}