/* reset */

a {
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, em, img, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, article, footer, header, nav, section, main {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6, p, a, ul {
  font-size: 1em;
  font-weight: normal;
}

img {
  display: block;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

/* fim reset */

/* Fontes */

@font-face {
  font-family: "BebasNeue Bold";
  src: url(../font/bebasneue-bold.otf);
}

@font-face {
  font-family: "BebasNeue Light";
  src: url(../font/bebasneue-light.otf);
}

@font-face {
  font-family: "BebasNeue Book";
  src: url(../font/bebasneue-book.otf);
}

/* fim fontes */

.container {
  max-width: 960px;
  margin: 0 auto;
}

/* header */

.bg-menu {
  background-color: #894f86;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
}

.fixed {
  position: fixed;
  left: 0;
  right: 0;
  transition: 1s;
  animation-timing-function:ease;
  z-index: 1;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.logo-menu {
  padding: 10px;
}

.nav-menu ul {
  display: flex;
  text-transform: uppercase;
  font-family: "BebasNeue Book";
  font-size: 1em;
  letter-spacing: 2px;
}

.nav-menu ul li a {
  padding: 20px;
  color: #fff;
}

.nav-menu ul li a:hover {
  color: #e05c88;
}

.nav-menu ul li a.active {
  color: #e05c88;
}

.nav-toggle {
  display: none;
}

@media only screen and (max-width: 768px) {
  .logo-menu {
    padding: 0px 0px 0px 1px;
  }

  .menu {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-menu {
    display: none;
    flex-direction: column;
    align-items: flex-end;
  }

  .nav-menu ul {
    flex-direction: column;
  }

  .nav-menu ul li {
    padding-bottom: 10px;
  }
  
  .toggle-class {
    display: flex;
  }

  .nav-toggle {
    padding-top: 20px;
    padding-right: 20px;
    align-self: flex-end;
    color: #fff;
    font-size: 24px;
    display: initial;
    position: absolute;
    cursor: pointer;
    width: 36px;
	  height: 36px;
  }

}

/* intro */

.intro {
  background-image: url(../img/intro.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro h1 {
  color: #fff;
  font-family: "BebasNeue Bold";
  font-size: 2.857em;
  letter-spacing: 3px;
}

.intro p {
  font-family: arial;
  font-size: 0.875em;
  color: #fff;
}

.texto-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 350px;
}

@media only screen and (max-width: 768px) {
  .intro p {
    padding: 20px;
  }
}

/* bem vindo */

.bem-vindo {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 80px;
  align-items: center;
}

.bem-vindo-h1 {
  font-family: "BebasNeue Book";
  font-size: 2.250em;
  text-transform: uppercase;
  color: #894f86;
  text-align: center;
  padding-top: 80px;
}

.bem-vindo-texto {
  flex: 1 1 400px;
  font-family: arial;
  font-size: 0.875em;
  color: #0d0d0d;
  line-height: 1.5;
}

.bem-vindo-img {
  flex: 1 1 520px;
}

@media only screen and (max-width: 929px) {
  .bem-vindo {
    flex-direction: column;
   }
  
  .bem-vindo-img {
    flex: 1;
  }
  
  .bem-vindo-texto {
    flex: 1;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}


@media only screen and (max-width: 768px) {
  .bem-vindo-img {
    padding: 0px 20px 0px 20px;
  }
  
  .bem-vindo-texto {
    padding-top: 20px;
    padding-top: 20px;
  }
}

/* quebra 01 */

.quebra-01 {
  background-image: url(../img/bg-quebra-01.jpg);
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* candy menu */

.candy-menu h1 {
  font-family: "BebasNeue Book";
  font-size: 2.250em;
  text-transform: uppercase;
  color: #894f86;
  text-align: center;
  padding-top: 80px;
}

.candy-menu p {
  font-family: arial;
  font-size: 0.875em;
  color: #0d0d0d;
  line-height: 1.5;
  max-width: 340px;
  text-align: center;
  margin: 0 auto;
}

.candy-menu-lista ul {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  padding-bottom: 50px;
}

.candy-menu-lista ul li {
  font-family: "BebasNeue Book";
  font-size: 1.500em;
  text-transform: uppercase;
}

.candy-menu-lista ul li a {
  color: #e05c88;
}

.container-all {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.produto-preco {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}

.produto-sozinho {
  max-width: 240px;
}

.produto-sozinho h1 {
  font-family: arial;
  text-transform: uppercase;
  font-weight: bold;
  color: #0d0d0d;
  font-size: 0.875em;
  margin-bottom: 10px;
  display: flex;
}

.produto-sozinho h1::before{
  content: '';
  display: inline-block;
  width: 1px;
  height: 16px;
  background: #894f86;
  margin-right: 8px;
}

.produto-sozinho p {
  font-size: 0.875em;
  font-style: italic;
  color: #0d0d0d;
  line-height: 1.5;
}

.preco-sozinho {
  max-width: 140px;
}

.preco-sozinho h1 {
  font-family: arial;
  text-transform: uppercase;
  font-weight: bold;
  color: #0d0d0d;
  font-size: 0.875em;
  margin-bottom: 10px;
}

.preco-sozinho p {
  font-size: 0.875em;
  font-style: italic;
  color: #0d0d0d;
}

@media only screen and (max-width: 929px) {
  .container-all {
    justify-content: center;
  }
}


/* quebra 02 */

.quebra-02 {
  background-image: url(../img/quebra-02.jpg);
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* sobre nós */

.sobre-h1 {
  font-family: "BebasNeue Book";
  font-size: 2.250em;
  text-transform: uppercase;
  color: #894f86;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 50px;
}

.sobre {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.sobre-texto {
  flex: 1 1 400px;
  font-family: arial;
  font-size: 0.875em;
  color: #0d0d0d;
  line-height: 1.5; 
}

.sobre-img {
  flex: 1 1 520px;
}

@media only screen and (max-width: 929px) {
  
  .sobre {
    flex-direction: column;
   }
  
  .sobre-texto{
    flex: 1;
    padding-bottom: 20px;
  }
  
  .sobre-img {
    flex: 1;
  }
  
}

/* galeria */

.galeria {
  padding-top: 80px;
}

.galeria h1 {
  font-family: "BebasNeue Book";
  font-size: 2.250em;
  text-transform: uppercase;
  color: #894f86;
  text-align: center;
  padding-bottom: 50px;
}

.galeria-01 {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.img-01 {
  padding-right: 20px;
}

@media only screen and (max-width: 929px){
  .galeria-01 {
    justify-content: center;
  }
  
  .img-01 {
    padding-bottom: 20px;
    padding-right: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .img-01 {
    padding: 0px 20px 20px 20px; 
  }
  .img-02 {
    padding: 0px 20px 0px 20px;
  }
  .galeria-02 {
    padding: 0px 20px 0px 20px;
  }
}

/* contato */

.contato {
  padding-top: 80px;
}

.contato h1 {
  font-family: "BebasNeue Book";
  font-size: 2.250em;
  text-transform: uppercase;
  color: #894f86;
  text-align: center;
  padding-bottom: 50px;
}

.contato p {
  font-family: arial;
  font-size: 0.875em;
  color: #0d0d0d;
  line-height: 1.5;
  max-width: 340px;
  padding-left: 10px;
}

.form {
  padding-top: 50px;
  padding-bottom: 80px;
}

.form-contato {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-contato input {
  background-color: #e05c88;
  border: none;
  margin: 10px;
  height: 50px;
  flex: 1 1 300px;
  padding-left: 10px;
}

.form-contato input:nth-child(4) {
  padding: 20px 0 80px 10px;
}

::-webkit-input-placeholder {
  color: #fff;;
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

@media only screen and (max-width: 929px) {
  .form-contato {
    flex-direction: column;
  }
  
  .form-contato input {
    flex: 1;
  }
}

.btn {
  margin-right: 10px;
  float: right;
  background-color: #894f86;
  border: none;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 30px 10px 30px;
  cursor: pointer;
}

.btn:hover {
  background-color: #e05c88;
  transition: 0.5s;
  animation-timing-function:linear;
}

/* quebra 3 */

.quebra-03 {
  background-image: url(../img/quebra-03.jpg);
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 80px;
}

/* footer */

.bg-footer {
  background-color: #894f86;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.texto {
  max-width: 240px;
  font-family: arial;
  font-size: 0.875em;
  color: #fff;
  line-height: 1.5;
  padding-bottom: 20px;
}

.texto h1 {
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 5px;
  font-weight: bold;
}

.redes-sociais {
  display: flex;
  cursor: pointer;
  align-items: center;
}

.insta {
  margin-left: 10px;
}

/* js */

/* para o tab */
.js [data-target] {
  opacity: 0;
  visibility: hidden;
  transform: translate3d(-50px,0,0);
  position: absolute;
  top: 0;
}

.js [data-click].active {
  border-left: 2px solid #e05c88;
  color: #894f86;
  padding-left: 5px;
}

.js [data-target].active {
  opacity: 1;
  visibility: visible;
  transition: .3s;
  position: relative;
  top: auto;
  transform: translate3d(0px,0,0);
}