/*Estilo para tablets*/
@media only screen and (min-width: 768px) and (max-width: 959px) {

  .take-foto {
    margin-left: 220px;
  }

  .take-texto {
    margin-bottom: 40px;
    margin-left: 184px;
    margin-top: -60px;
  }

  .take-texto h2 {
    text-align: center;
  }

  .iced-foto {
    margin-left: 220px;
  }

  .iced-texto {
    margin-bottom: 40px;
    margin-left: 184px;
    margin-top: -60px;
  }

  .iced-texto h2 {
    text-align: center;
  }

  .espresso-foto {
    margin-left: 220px;
  }

  .espresso-texto {
    margin-bottom: 40px;
    margin-left: 184px;
    margin-top: -60px;
  }

  .espresso-texto h2 {
    text-align: center;
  }

  .irish-foto {
    margin-left: 220px;
  }

  .irish-texto {
    margin-bottom: 40px;
    margin-left: 184px;
    margin-top: -60px;
  }

  .irish-texto h2 {
    text-align: center;
  }

  .frappe-foto {
    margin-left: 220px;
  }

  .frappe-texto {
    margin-bottom: 40px;
    margin-left: 184px;
    margin-top: -60px;
  }

  .frappe-texto h2 {
    text-align: center;
  }

  .shop-texto {
    width: 90%;
    margin-left: 35px;
  }

  .shop-foto {
    margin-right: 133px;
    margin-top: 30px;
  }

  .cafe-texto {
    width: 90%;
    margin-left: 35px;
  }

  .cafe-foto {
    margin-right: 133px;
    margin-top: 30px;
    margin-bottom: 100px;
  }

  .footer_direitos {
    margin-right: 10px;
  }

}

/*Estilo para smartphones*/
@media only screen and (max-width: 767px) {          /* Maximo 767, logo telas menores que esse vaalor - 3 break point */


  .shop-texto h1 {
    font-size: 3em;
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    margin-top: 30px;
  }

  .shop-foto {
    height: 350px;
    width: 350px;
    margin-top: 30px;
    position: absolute;
    right: -30px;
  }

  .cafe-texto h1 {
    font-size: 3em;
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    margin-top: 420px
  }

  .cafe-foto {
    height: 350px;
    width: 350px;
    margin-top: 30px;
    position: relative;
    right: -30px;
  }

  .footer_contato {
    position: absolute;
    left: -180px;
  }

  .footer_direitos {
    position: absolute;
    right: -170px
  }








}